<div id = "hidden-banner" style="display:none; position: sticky; top: 0; left: 0; width: 100%; background-color: lightgreen; padding: 20px; text-align: center; z-index:100">
  Pricing Placeholder {{ product.title }}
</div>

{% schema %}
  {
  "name": "Sticky Add To Cart",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [],
  "presets": [
    {
      "name": "Sticky Add To Cart",    
    }
  ]
}
{% endschema %}