
<script>
  function removeLoader() {
    var trackingContent = window.document.querySelector('.tm_main');
    observer = new MutationObserver(function(mutations) {
      for (const { addedNodes } of mutations) {
        for (const node of addedNodes) {
          if (!node.tagName) continue;
          if (node.id == 'tm_tracking_resource') {
            document.querySelector('.loading__spinner').classList.add('hidden');
            document.querySelector('.spinner-div').classList.add('hidden');
          }
        }
      }
    });
    observer.observe(trackingContent, {characterData: false, childList: true, attributes: false});
  }
  window.addEventListener('load',removeLoader,false);
  window.addEventListener('load', function() {
    document.querySelector('.loading__spinner').classList.remove('hidden');
  });
</script>

<section
  id="OrderTracking-{{ section.id }}"
  class="section-{{ section.id }}-padding bg-bg full-height"
  data-section="{{ section.id }}"
>
  <div class = "spinner-div">
    {%- render 'loading-spinner' -%}
  </div>
  <div class="tm_main font-body"> 
    <div class="tm_tracking_info" style="display: none;"></div> 
    <div class="tm_tracking_content"></div> 
  </div> 
</section>



<script>
  // <![CDATA[ 
  var script_new = document.createElement('script'); 
  var date = new Date(); 
  var year = date.getFullYear(); 
  var month = date.getMonth()+1; 
  var day = date.getDate()+1; 
  script_new.src = '//tms.trackingmore.net/static/js/tm_loadFrame.js?time='+year+''+month+''+(day%7); document.querySelector('.tm_main').parentNode.insertBefore(script_new,document.querySelector('.tm_main').nextSibling); 
  // ]]>
</script>

{% schema %}
  {
    "name": "Track Your Order",
    "tag": "section",
    "class": "section",
    "enabled_on": {
      "templates": ["page"]
    },
    "presets": [
      {
      "name": "Track Your Order"
      }
    ]
  }
{% endschema %}